{
  "tabWidth": 4,
  "useTabs": false,
  "semi":  true,
  "singleQuote":  false,
  "printWidth": 80,
  "trailingComma":  "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}
