table#header {
	margin-bottom: 10px;
}	
table#container		{ }	
table#background	{ }
table#info			{ }
table#groups		{ }

td.user {	
	background-color: rgba(20, 20, 20, 140);
	padding: 13px 30px 15px 10px; 
}

td.scanner {	
	background-color: rgba(20, 20, 20, 140);
	padding: 13px 30px 15px 10px; 
}

td.server {	
	background-color:  rgba(20, 20, 20, 140);
	padding: 13px 15px 15px 10px; 
}

td.channel {	
	background-color: transparent;
	padding: 13px 15px 15px 10px; 
}	

td.header {	
	color: #d1cfcd;
	padding: 4px 10px 4px 10px;  
	background-color: rgba(20, 20, 20, 140);
	white-space: nowrap;
	font-size: 26px;	
	margin: 0px;
}
	
.headersub {	
	background-color: rgba(60, 60, 60, 140);
	white-space: nowrap;
	font-size: 14px;
	color: #d1cfcd;	
	padding: 3px 5px 3px 5px; 
	margin: 0px;
}
  
td.infoheader {	
	white-space: nowrap;
	color: #ad4548;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;	 
}  
	
td.infotext {	
	white-space: nowrap;
	color: #a6a4a1;
	font-size: 11px;  
}
 
	
td.grouptext {	
	white-space: nowrap;
	color: #d1cfcd;
	font-size: 12px;  
}

.refresh {	
	color:#a6a4a1;
	font-size: 12px;
}	